<div class="error-container">
    <mat-card>
      <mat-card-header>
        <mat-icon color="warn" class="icon">error</mat-icon>
        <mat-card-title>Erro no Servidor</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Ocorreu um erro inesperado no servidor. Tente novamente mais tarde.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goHome()">
          Voltar para o Dashboard
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  