/* styles.scss */

/* Importando o tema do Angular Material */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* Definindo o esquema de cores e fontes globais */
body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  /* Resetando a margem do usuário */
  margin: 0;
}

/* Importando a fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Definindo estilos globais e variáveis de tema */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Variáveis globais para temas */

:root {
  --primary-color: white;
  --sidebar-color: #5A9BD5;
  --bg-color: #f4f5f7;
  --text-color: #222222;
  --background-image-light: url('/assets/images/backgrounds/bg-light.jpg');
  --background-image-dark: url('/assets/images/backgrounds/bg-dark.jpg');
}

body {
  background-color: var(--bg-color);
  background-image: var(--background-image-light);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease, background-image 0.3s ease;
}

body.dark-mode {
  --primary-color: #313866;
  --sidebar-color: #222324;
  --bg-color: #313866;
  --text-color: white;
  background-image: var(--background-image-dark);
}



.navbar {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar {
  background-color: var(--sidebar-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-content, .content {
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Garante que o overlay do Angular Material fique acima de sidebar/navbar */
.cdk-overlay-container {
  z-index: 2000 !important;
}

/* Ajusta o dialog se necessário */
.mat-dialog-container {
  z-index: 2001 !important;
}
